:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --secondary-text-color: rgba(117, 117, 117, 1);
    --third-text-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(33, 150, 243, 1);
    
}

/* Start Studio page */
/* Шапка */
.logo {
    color: var(--primary-text-color);
}
.logo-first {
    color: var(--accent-color);
}
.list-nav {
    color: var(--primary-text-color);
}
.list-nav:hover,
.list-nav:focus {
    color: var(--accent-color);
}
.nav-contacts {
    color: var(--secondary-text-color);
}
.nav-contacts:hover,
.nav-contacts:focus {
    color: var(--accent-color);
}

/* Герой */
.bg-hero {
    background-color: rgba(47, 48, 58, 1);
}
.title {
    color: var(--third-text-color);
}
.button {
    background-color: var(--accent-color);
    color: var(--third-text-color);
}
.button:hover,
.button:focus {
    background-color: rgba(24, 140, 232, 1);
    color: var(--third-text-color);
}

/* Особливості */
.caption-features {
    color: var(--primary-text-color);
}
.text-features {
    color: var(--secondary-text-color);
}

/* Чим ми займаємося  */
.caption {
    color: var(--primary-text-color);
}

/* Наша команда */
.bg-team {
    background-color: rgba(245, 244, 250, 1);
}
.caption {
    color: var(--primary-text-color);
}
.name-team {
    color: var(--primary-text-color);
}
.desk-team {
    color: var(--secondary-text-color);
}

/* Підвал */
.bg-footer {
    background-color: rgba(47, 48, 58, 1);
}
.logo {
    color: var(--primary-text-color);
}
.logo-first {
    color: var(--accent-color);
}
.logo-second {
    color: var(--third-text-color);
}
.footer-adress {
    color: var(--third-text-color);
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}
/* Finish Studio page */

/* Start Portfolio page */